.itemlistcontainer {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.itemlistcontainer > h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}