.nav-container {
    width: 100vw;
    /* background: rgb(2,0,36); */
    background: linear-gradient(142deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(122,122,126,1) 50%, rgba(204,207,208,1) 100%); 
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nav-top {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.nav-logo {
    height: 100px;
}
.nav-login {
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    
}
.nav-login > a:hover {
    color: red;
}
.nav-login > a,p {
    color: white;
    text-decoration: none;
    margin: 10px;
}
.nav-login > label {
    color: white;
    font-size: 15px;
    margin: 10px;
}
.nav-container > ul {
    background-color: rgb(224, 224, 224);
    width: 100vw;
    padding: 5px;
    align-self: baseline;
    display: flex;
    justify-content: center;
}
.nav-container > ul > li {
    display: inline-block;
    list-style: none;
}
.nav-container > ul > li > a {
    padding: 15px;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.nav-container > ul > li > a:hover {
    color: red;
}
.cart-widget-empty{
    width: 400px;
}